/* -------------
 ---- RESET ----
 ------------- */
:root {
  --page-background-color: #111111;
  --page-content-color: #FFFFFF;
  --page-focus-color: #E9B61A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

*:focus,
*:focus-visible {
  outline: 3px solid var(--page-focus-color);
  outline-offset: -1px;
}

*:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #FFFFFF;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 1.8rem;
  color: var(--page-content-color);
}

/* ---------------
 ---- CLASSES ----
 --------------- */
.popup__button {
  background-color: var(--page-background-color);
  color: var(--page-content-color);
  width: 150px;
  height: 69px;
}